:root {
    --main-color:#2196F3;
    --main-bg-color:#ffffff;
    --secondary-bg-color:#2F303A;
    --third-bg-color: #F5F4FA;
    --hero-button-bg-color:#188CE8;
    --logo-second-color:#000000;
    --main-font-color:#212121;
    --second-font-color:#757575;
    --white-font-color:#ffffff;
    --footer-font-color:rgba(255, 255, 255, 0.6);

    --card-set-gap: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.links {
    text-decoration: none;
    color: var(--main-font-color);
}

.buttons:hover,
.buttons:focus {
    cursor: pointer;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
        
            /* header */        

.page-top {
   border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
        
}

.logo {
    display: block;

    color: var(--main-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}

.accent-logo-top {
    color: var(--logo-second-color);
}

.site-nav-list {
    display: flex;
    margin-left: 93px;
}

.site-nav-list .item:not(:last-child) {
    margin-right: 50px;
}


.site-nav-list,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-nav:hover,
.link-nav:focus,
.link-contacts:hover,
.link-contacts:focus {
    color: var(--main-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item +.item {
    margin-left: 50px;
}

.link-contacts {
    text-decoration: none;
    color: var(--second-font-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.email-icon {
    width: 16px;
    height: 12px;
    fill: var(--second-font-color);
}

.email-icon:hover,
.email-icon:focus {
    fill: var(--main-color)
}

.tel-icon {
    width: 10px;
    height: 16px;
    fill: var(--second-font-color);
}

.tel-icon:hover,
.tel-icon:focus {
    fill: var(--main-color);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

        /* Studio page */
            /* main */
            /* Hero */



.hero {
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.hero-title {
    margin-bottom: 30px;
    

    color: var(--white-font-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    padding: 10px 32px;
    

    font-family: inherit;
    color: var(--white-font-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-button-bg-color);
}

.overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/hero-img.jpg);
    background-size: cover;
    background-position: center;
}
        /* our-preferences */

.icon-box {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--third-bg-color);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 102.34px;
    padding-right: 102.34px;
    
}

.icon-preferences {
    width: 70px;
    height: 70px;
    
}
.preferences-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.preferences-text {
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 1.7;
}

.preferences-list {
    display: flex;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.preferences-list > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

        /* our-work */

.our-work {
    padding-top: 0;
}

.our-work-title,
.our-team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.our-work-list {
    display: flex;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.our-work-list > .item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
        /* our-team */

.our-team {
    background-color: var(--third-bg-color);
}

.our-team-list {
    display: flex;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.our-team-list > .item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-bg-color);

    text-align: center;
}

.our-team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.our-team-professions {
    color: var(--second-font-color);
    font-size: 16px;
    line-height: 1.19;
}

.card-of-members {
    margin-bottom: 30px;
}

.our-team-names {
    margin-bottom: 10px;
}

.our-team-professions {
    margin-bottom: 30px;
}


        /* Portfolio page */
            /* main */
            /* filter */

.filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter > .item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 25px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    border: transparent
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-font-color);
    background-color: var(--main-color);
    
}

        /* our-project */

.our-project {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.our-project > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);

    
}

.case-title-block {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
}

.case-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.case-text {
    font-size: 16px;
    line-height: 1.9;
}

            /* Footer */

.bottom {
    padding-top: 60px;
    padding-bottom: 60px;

    color: var(--white-font-color);
    background-color: var(--secondary-bg-color);
    font-size: 14px;
line-height: 1.7;
}


.accent-logo-bottom {
    color: var(--white-font-color);
}

.bottom-link {
   margin-bottom: 20px;
}

.location {
    font-style: normal;
}

.location-text {
    margin-bottom: 9px;
}

.down {
    color: var(--footer-font-color);
    
}

.down:hover,
.down:focus {
    color: var(--main-color);
}

.email {
    display: block;
    margin-bottom: 9px;
}
